asgiref
certifi
charset-normalizer
cloudinary
contourpy
crispy-bootstrap4
cycler
Django
django-crispy-forms
django-jazzmin
fonttools
gunicorn
idna
importlib-metadata
kiwisolver
matplotlib
numpy
packaging
Pillow
PyMySQL
pyparsing
python-dateutil
python-dotenv
pytz
reportlab
requests
six
sqlparse
typing_extensions
urllib3
whitenoise
zipp
