{% extends 'base.html' %}
{% block content %}
<div class="hero-image">
    <div class="container">
      
      {% for message in messages %}
        <li class="alert alert-{{message.tags}}">{{message}}</li>
      {% endfor %}
        
      <div class="hero-text">
        <h1>Welcome to Our Restaurant</h1>
        <p>Discover the finest culinary delights</p>
        <form action="{% url 'create_new_order' %}" method="post">
           {% csrf_token %}
          <button type="submit" class="btn btn-primary">Place Your Order</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
    