{% extends 'base.html' %}

{% block extrastyle %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Menu Items</h1>
    
    {% if messages %}
        
        {% for message in messages %}
            <li class="alert alert-{{message.tags}}">{{ message }}</li>
        {% endfor %}
            
    {% endif %}
        
    <div class="row">
        {% for item in menu_items %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card rounded shadow">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top">
                    <div class="card-body bg-light">
                        <h5 class="card-title text-center text-primary">{{ item.name }}</h5>
                        <p class="card-text text-center">{{ item.formatted_price }}</p>
                        <a href="{% url 'make_order' item_id=item.id %}" class="btn btn-primary btn-block">Order Now</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
