{% extends 'base.html' %}
{% block content %}
<div class="container px-3 my-5 clearfix">
<!-- Shopping cart table -->
<div class="card">
    <div class="card-header">
        <h2>Order made at {{order.created_at}} by {{order.user}}</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered m-0">
            <thead>
              <tr>
                <!-- Set columns width -->
                <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
              </tr>
            </thead>
            <tbody>
              
              {% for item in order.items.all %}
              <tr>
                <td class="p-4">
                  <div class="media align-items-center">
                    <img src="{{item.item.image.url}}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                    <div class="media-body">
                      <a href="#" class="d-block text-dark">{{ item.item.name }}</a>
                      <small>
                        <span class="text-muted">Category: </span> {{item.item.category}} &nbsp;
                      </small>
                    </div>
                  </div>
                </td>
                <td class="text-right font-weight-semibold align-middle p-4">UGX {{item.item.formatted_price}}</td>
                <td class="align-middle p-4"><input type="text" class="form-control text-center" value="{{item.quantity}}"></td>
                <td class="text-right font-weight-semibold align-middle p-4">{{item.line_total}}</td>
                <td class="text-center align-middle px-0"><a href="{% url 'update_order_item' pk=item.id%}" class="text-info" title="" 
                  data-original-title="Remove">Update</a></td>

                  <td class="text-center align-middle px-0"><a href="{% url 'delete_order_item' order_id=order.id item_id=item.id%}" class="text-danger" title="" 
                    data-original-title="Remove">delete</a></td>
              </tr>
              {% endfor %}
                
            </tbody>
          </table>
        </div>
        <!-- / Shopping cart table -->
    
        <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
          <div class="mt-4">
            <!-- <label class="text-muted font-weight-normal">Promocode</label>
            <input type="text" placeholder="ABC" class="form-control"> -->
          </div>
          <div class="d-flex">
            <div class="text-right mt-4">
              <label class="text-muted font-weight-normal m-0">Total price</label>
              <div class="text-large"><strong>UGX {{ total_price }}</strong></div>
            </div>
          </div>
        </div>
    
        <div class="float-right">
          <a href="{% url 'menu_items' %}" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to Menu</a>
          <a href="{% url 'order_checkout' order_id=order.id%}" class="btn btn-lg btn-primary mt-2">Checkout</a>
        </div>
    
      </div>
  </div>
</div>
{% endblock content %}
    