{% extends 'base.html' %}
{% block content %}
    
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <h1>Check out for order {{order.id}}</h1>
                <form action="{% url 'order_checkout'  order_id=order.id %}" method="post">
                  <!-- Form fields go here -->
                  {% csrf_token %}
                    <input type="hidden" name="menu_item" value="{{ selected_item.id }}">
                    <div class="form-group">
                        <label for="quantity">Name:</label>
                        <input type="text" name="name"class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Email:</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="quantity">Phone Number:</label>
                      <input type="text" name="phone" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
    